#character-img {
  border-radius: 25px;
}

.character-number{
  font-family: 'Comfortaa', cursive;
}

.button.is-fav{
  position: absolute;
  top: 10px;
  left:5px;
  z-index: 2;
}
#mis-favoritos{
  position: fixed;
  right: 100px;
  bottom: 0;
  top:60px;
  background-color: white;
  border: solid #eeeeee 2px;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  z-index: 8;
}

h2, p{
  font-family: 'Comfortaa', cursive;
}

.section {
  background-color: #6E6E6E;
  text-align: center;
}