.Alive{
  background-color: #509218 !important;
  color: #ffffff !important;
}
.Deceased{
  background-color: #662168 !important;
  color: #ffffff !important;
}
.Presumed{
  background-color: #7DBAF2 !important;
  color: #ffffff !important;
}
.Unknown{
  background-color: #ABABB8 !important;
  color: #ffffff !important;
}

.character-number{
      position: absolute;
      right: -5px;
      top: 10px;
      background: black;
      color: white;
      padding: 1px 5px;
}
.button.is-fav{
  position: absolute;
  top: 10px;
  left:5px;
  z-index: 2;
}
#mis-favoritos{
  position: fixed;
  right: 0;
  bottom: 0;
  top:56px;
  background-color: #e2e2e2;
  width: 300px;
  z-index: 8;
}